rs-tooltip {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px;
  pointer-events: none;
  z-index: 10000;
  top: 0;
  left: 0;
  color: white;
}
