group-settings {
  display: flex;
}

.group-settings__container {
  padding: 8px 12px;
  max-width: 500px;
  width: 100%;
}

.group-settings__section-content {
  padding-left: 1em;
}

.group-settings__members edit-member {
  margin-bottom: 1em;
}
