men-homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  font-family: "rssmall";
}

.men-homepage__header-container {
  position: relative;
}

.men-homepage__header-container world-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}

.men-homepage__header-container world-map .world-map__map {
  height: 100%;
  pointer-events: none;
}

.men-homepage__header {
  text-align: center;
  margin: 5em 0;
  position: relative;
  z-index: 1;
  text-shadow: 3px 3px var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.men-homepage__header h1 {
  font-size: 8em;
}

.men-homepage__header p {
  font-size: 3em;
  color: var(--light-brown);
}

.men-homepage__header h1,
.men-homepage__header p {
  margin: 0;
}

.men-homepage__features-container {
  padding: 3em;
  color: var(--light-brown);
  flex-grow: 1;
}

.men-homepage__features {
  max-width: 1000px;
  margin: auto;
}

.men-homepage__features h2 {
  font-size: 4em;
  margin: 0;
  border-bottom: 1px dashed var(--brown);
  margin-bottom: 0.25em;
  line-height: 0.8em;
}

.men-homepage__feature-cards {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.men-homepage__feature-card {
  background: var(--darken);
  border: 1px solid var(--darken);
  margin: 8px;
}

.men-homepage__feature-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 17em;
  border-bottom: 1px solid var(--darken);
  background: rgba(0, 0, 0, 0.1);
}

.men-homepage__feature-card-top img {
  max-width: 110%;
  image-rendering: -webkit-optimize-contrast;
}

.men-homepage__feature-card-bottom {
  font-size: 1.2em;
  transform: translateZ(1px);
  padding: 0.8em;
}

.men-homepage__links {
  margin-top: 1.5em;
  display: flex;
}

.men-homepage__links > men-link + men-link {
  margin-left: 2em;
}
