setup-instructions {
  display: flex;
  justify-content: center;
  padding: 64px 12px;
  width: 100%;
  box-sizing: border-box;
}

.setup__container {
  max-width: 500px;
  padding: 8px 24px;
  width: 100%;
  box-sizing: border-box;
}

.setup__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.setup__block {
  margin-bottom: 1em;
}

.setup__config img {
  max-width: 250px;
}

.setup__go-to-group {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.setup__credential {
  padding: 0.25em 0.5em;
  position: relative;
}

.setup__credential-hide {
  position: absolute;
  left: 0;
  top: 0;
  background: #222;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.setup__credential-hide:hover {
  background: #444;
}
