HOST_URL=http://localhost:5000 # Set to the URL (including http// or https://) of the backend. This is used for API calls from the frontend.
PG_USER=postgres # This can be anything if using docker-compose, otherwise match it with the user in your external DB.
PG_PASSWORD=postgres # This can be anything if using docker-compose, otherwise match it with the password in your external DB.
PG_HOST=postgres # Only change this if you are connecting to an external postgres database.
PG_PORT=5432 # Only change this is if you are connecting to an external postgres database on a non-standard port.
PG_DB=groupironman_db # This can be anything if using docker-compose, otherwise match it with the table in your external DB.
BACKEND_SECRET=somerandomkey # This can be anything, generate a random secret using some generator. It is used by the backend for hashing.
