player-stats {
  display: block;
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  line-height: 1;
  position: relative;
  color: white;
}

.player-stats__prayer-numbers,
.player-stats__name,
.player-stats__hitpoints-numbers {
  margin-left: 8px;
  z-index: 1;
  position: relative;
}

.player-stats__prayer,
.player-stats__hitpoints,
.player-stats__energy {
  box-sizing: border-box;
  position: relative;
  padding: 2px 0;
}

.player-stats__prayer-bar,
.player-stats__hitpoints-bar,
.player-stats__energy-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.player-stats__energy {
  height: 3px;
}

.player-stats__inactive stat-bar {
  filter: grayscale(100%);
}

player-stats player-interacting {
  height: 45%;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
