diary-completion {
  display: block;
  color: yellow;
  cursor: pointer;
}

diary-completion:hover {
  background: rgba(0, 0, 0, 0.15);
}

.diary-completion__container {
  padding: 4px;
}

.diary-completion__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary-completion__bottom {
  display: flex;
}

.diary-completion__bottom stat-bar {
  height: 8px;
  flex-grow: 1;
  border: 1px solid black;
}

.diary-completion__bottom stat-bar + stat-bar {
  border-left: none;
}
