inventory-pager {
  display: block;
}

.inventory-pager__label {
  margin-bottom: 0.25em;
}

.inventory-pager__buttons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 4px;
}

.inventory-pager__buttons button {
  padding: 4px 8px;
}
