inventory-pager {
  margin-left: 1em;
}

.inventory-pager__label {
  margin-bottom: 0.25em;
}

.inventory-pager__buttons {
  display: flex;
}

.inventory-pager__buttons button {
  padding: 4px 8px;
}

.inventory-pager__buttons button + button {
  margin-left: 4px;
}
