player-quests {
  display: block;
  padding: 0 8px;
}

.player-quests__top {
  display: flex;
  align-items: center;
}

.player-quests__list {
  color: white;
  max-height: 300px;
  overflow-y: scroll;
}

.player-quests__quest {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.player-quests__quest:hover {
  background: rgba(255, 255, 255, 0.1);
}

.player-quests__not-started {
  color: #ff0000;
}

.player-quests__in-progress {
  color: #ffff00;
}

.player-quests__finished {
  color: #00ff00;
}

.player-quests__difficulty-icon {
  margin-right: 8px;
}

.player-quests__section-header {
  color: var(--orange);
  margin: 4px 0;
  font-size: 20px;
  font-weight: 400;
}

.player-quests__filter {
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 0;
}

.player-quests__filter input {
  font-size: 18px;
}

.player-quests__hidden {
  display: none;
}

.player-quests__points {
  white-space: nowrap;
  margin-left: 16px;
}
