player-panel {
  display: block;
  width: 100%;
  position: relative;
  transform: translate3d(0, 0, 1px);
  color: white;
  box-sizing: border-box;
}

player-panel + player-panel {
  margin-top: 12px;
}

.player-panel__minibar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

player-panel.expanded .player-panel__minibar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.player-panel__minibar button {
  flex-grow: 1;
  margin: 0;
  background: none;
  border: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player-panel__minibar img {
  pointer-events: none;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  transform: translateZ(0);
  padding: 4px 0;
}

.player-panel__minibar button:hover,
button.player-panel__tab-active {
  background: rgba(255, 255, 255, 0.2);
}

player-panel.expanded .player-panel__content {
  padding: 8px 0;
}

.player-panel__collection-log img {
  image-rendering: initial;
}
