:root {
  --primary-text: white;
  --elevated: rgba(255, 255, 255, 0.08);
  --light-border: rgba(255, 255, 255, 0.12);
  --darken: rgba(0, 0, 0, 0.2);
  --background: #000000;
  --black: #000000;
  --invalid: #ee0d0d;
  --graph-grid-border: rgba(255, 255, 255, 0.05);
  --orange: #ff981f;
  --yellow: #ffff00;
  --red: #ff0000;
  --green: #0dc10d;

  --rsbackground: url(/ui/297-0.png);
  --rsbackground-dark: url(/ui/297-0-dark.png);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--primary-text);
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-family: "rssmall", ui-sans-serif, Arial, sans-serif;
  text-shadow: 1.3px 1.3px var(--black);
}

h1,
h2,
h3 {
  font-family: "rsbold", ui-sans-serif, Arial, sans-serif;
}

.unauthed-section {
  overflow: auto;
}

.unauthed-section__outlet {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "rssmall";
  font-display: block;
  src: url("/fonts/RuneScape-Chat-07.ttf");
}

@font-face {
  font-family: "rsbold";
  font-display: block;
  src: url("/fonts/RuneScape-Chat-Bold-07.ttf");
}

@font-face {
  font-family: "rstiny";
  font-display: block;
  src: url("/fonts/runescape-tiny.ttf");
}

.authed-section__main-content {
  width: 100%;
  padding: 20px 8px;
  overflow-y: auto;
  z-index: 1;
  box-sizing: border-box;
}

.authed-section__outlet {
  pointer-events: auto;
}

button {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

button.men-button {
  font-size: 20px;
  font-family: "rssmall";
  color: var(--orange);
  text-shadow: 1px 1px var(--black);
  padding: 4px 8px;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  border-image: url(/ui/border-button.png) 9 9 / 9px stretch;
  border-style: solid;
  border-radius: 4px;
  background: #4d4336;
}

.dark-mode button.men-button {
  border-image: url(/ui/border-button-dark.png) 9 9 / 9px stretch;
  background: #282828;
}

button.men-button:hover {
  background: rgb(66, 55, 38);
}

.dark-mode button.men-button:hover {
  background: #383838;
}

button.men-button.small {
  padding: 0.2em 0.4em;
}

button:disabled {
  background: #b5b5b5;
  color: #6a6868;
  cursor: not-allowed;
}

button.active {
  outline: 1px solid rgb(200, 200, 200);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  height: 16px;
  width: 16px;
  display: inline-block;
  padding: 0;
  padding-right: 4px;
  content: "";
}

input[type="checkbox"] + label::before {
  background: url("/ui/checkbox.png") no-repeat;
}

input[type="checkbox"]:checked + label::before {
  background: url("/ui/checkbox-checked.png") no-repeat;
}

input[type="radio"] + label::before {
  background: url("/ui/radio.png") no-repeat;
}

input[type="radio"]:checked + label::before {
  background: url("/ui/radio-checked.png") no-repeat;
}

search-element.input-small input,
input.input-small {
  padding: 0 6px;
}

input {
  color: var(--orange);
  font-size: 16px;
  padding: 5px;
  background: #372e22;
  border: none;
  box-shadow: inset 3px 3px 3px #261d11;
  border-radius: 4px;
  line-height: 1em;
}

.dark-mode input {
  background: #282828;
  box-shadow: inset 3px 3px 3px #161616;
}

input::placeholder {
  color: var(--orange);
  opacity: 0.9;
}

input:focus-visible {
  outline: 1px solid rgb(200, 200, 200);
  border: none;
}

input.invalid {
  border: 1px solid var(--invalid);
}

.select-container {
  display: inline-flex;
  padding: 5px;
  min-height: 1em;
}

input,
select {
  font-family: "rssmall", ui-sans-serif, Arial, sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px var(--black);
}

select {
  color: var(--orange);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

select:focus,
select:focus-visible {
  border: none;
  outline: none;
}

option {
  color: initial;
  text-shadow: none;
}

fieldset {
  border: 1px solid var(--black);
}

h4 {
  margin: 0;
}

h3,
h2,
h4 {
  text-shadow: 2px 2px var(--black);
}

h3 {
  margin: 0;
  font-size: 2em;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

.emphasize {
  font-weight: bold;
  text-decoration: underline;
  font-family: "rsbold", ui-sans-serif, Arial, sans-serif;
}

.validation-error {
  color: var(--invalid);
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.men-control-container {
  display: flex;
  align-items: center;
  padding: 0.4em;
  margin-left: 8px;
}

.men-control-container:first-child {
  margin-left: 0;
}

.men-control-container input {
  margin: 0 0.5em 0 0;
}

#background-worldmap.interactable {
  filter: none !important;
}

#background-worldmap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  overflow: hidden;
  filter: opacity(0.8);
  transition: filter 0.5s;
}

.dark-mode #background-worldmap {
  filter: opacity(0.15);
}

.rstext {
  color: yellow;
}

.rsborder {
  border-image: url(/ui/border.png) 32 32 / 32px / 3px 4px 4px 3px round;
  border-style: solid;
  border-radius: 4px;
}

.metal-border {
  border-image: url(/ui/metal-border.png) 18 18 / 18px / 2px round;
  border-style: solid;
  border-radius: 4px;
}

.dark-mode .rsborder {
  border-image: url(/ui/border-dark.png) 32 32 / 32px / 4px round;
}

.rsborder-tiny {
  border-image: url(/ui/border-tiny.png) 4 4 / 4px round;
  border-style: solid;
  border-radius: 4px;
}

.dark-mode .rsborder-tiny {
  border-image: url(/ui/border-tiny-dark.png) 4 4 / 4px round;
}

.rsbackground {
  background: var(--rsbackground);
  background-repeat: repeat;
}

.dark-mode .rsbackground {
  background: var(--rsbackground-dark);
}

.rsbackground-hover:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--rsbackground);
}

.dark-mode .rsbackground-hover:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--rsbackground-dark);
}

.no-pointer-events {
  pointer-events: none;
}

.dialog {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.5);
  padding: 32px 0;
  box-sizing: border-box;
}

.dialog__visible {
  display: flex;
}

.dialog h2 {
  padding: 0;
  margin: 0;
}

.dialog__container {
  padding: 16px 24px;
  width: min(95%, 1000px);
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
