item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimizequality;
}

.item-box__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
}

.item-box__image {
  z-index: 0;
  pointer-events: none;
  transform: translateX(2px);
  height: 100%;
}

.item-box__quantity {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: yellow;
  transform: translate(0, -20%);
  font-size: 16px;
  font-family: "rstiny";
}
