.panels-page .authed-section {
  display: block !important;
  overflow-y: auto;
}

.panels-page side-panel {
  display: block;
  width: 100%;
  max-width: none;
  max-height: unset;
}

.panels-page .side-panel__panels {
  display: flex;
  align-items: flex-start;
  row-gap: 12px;
  column-gap: 12px;
  flex-wrap: wrap;
}

.panels-page player-panel {
  margin: 0;
  width: 300px;
}

.panels-page .authed-section__main-content {
  overflow: hidden;
}
