player-inventory {
  --inventory-height: 254px;
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 190px;
  height: var(--inventory-height);
}

player-inventory .item-box__container:hover {
  background: rgba(255, 255, 255, 0.1);
}

.player-inventory__inventory {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(7, 34px);
  justify-content: center;
}

.player-inventory__background {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: var(--inventory-height);
  background-image: url(/ui/inventory_background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.dark-mode .player-inventory__background {
  background-image: url(/ui/inventory_background-dark.png);
}
