total-level-box {
  display: flex;
  font-size: 13px;
  color: yellow;
  position: relative;
  justify-content: center;
  align-items: center;
}

.total-level-box__content,
.total-level-box__image {
  pointer-events: none;
}

.total-level-box__content {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}
