player-diaries {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.player-diaries__title {
  margin: 0;
  text-align: center;
  color: var(--orange);
}

.player-diaries__completions {
  padding: 0 4px;
}

diary-completion + diary-completion {
  margin-top: 2px;
}
