player-interacting {
  display: block;
  visibility: hidden;
}

.player-interacting__name {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(-50%);
  max-width: 100%;
}
