discord-callback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.discord-callback__container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 24px;
  font-size: 1.2em;
}

.discord-callback__error {
  text-align: center;
  margin-top: 1em;
}

.discord-callback__retry {
  margin: 1em 0 0.5em;
}

.discord-callback__retry[hidden] {
  display: none;
}
