side-panel {
  display: block;
  height: max-content;
  max-height: 100%;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px 8px;
  z-index: 1;
  pointer-events: auto;
}

button.side-panel__move {
  width: 100%;
  padding: 0;
  margin-bottom: 4px;
  pointer-events: auto;
}

.side-panel__panels {
  pointer-events: auto;
}
