side-panel {
  display: block;
  height: 100%;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 20px 8px;
  border-right: 1px solid var(--darken);
  border-left: 1px solid var(--darken);
}

button.side-panel__move {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  background: var(--elevated);
  border: 1px solid var(--light-border);
  margin: 0;
  margin-bottom: 4px;
}
