collection-log-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.collection-log__page-top {
  font-size: 18px;
  padding: 4px 8px;
  border-bottom: 1px solid hsl(40deg 15.79% 29.8%);
}

.collection-log__page-items {
  display: grid;
  --collection-log__columns: 7;
  grid-template-columns: repeat(var(--collection-log__columns), 1fr);
  padding: 2px 8px;
  overflow-y: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .collection-log__page-items {
    --collection-log__columns: 6;
  }
}

@media only screen and (max-width: 700px) {
  .collection-log__page-items {
    --collection-log__columns: 5;
  }
}

@media only screen and (max-width: 600px) {
  .collection-log__page-items {
    --collection-log__columns: 4;
  }
}

@media only screen and (max-width: 500px) {
  .collection-log__page-items {
    --collection-log__columns: 3;
  }
}

@media only screen and (max-width: 400px) {
  .collection-log__page-items {
    --collection-log__columns: 2;
  }
}

.collection-log__page-items item-box {
  opacity: 0.3;
}

.collection-log__page-items item-box.collection-log__item-unlocked {
  opacity: 1;
}

.collection-log__page-items .item-box__quantity {
  font-size: 16px;
  transform: translate(0, 0);
}

.collection-log__count {
  color: white;
}

collection-log-page item-box:hover {
  background: rgba(255, 255, 255, 0.1);
}
