collection-log-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.collection-log__page-top {
  font-size: 18px;
  padding: 4px 8px;
  border-bottom: 1px solid hsl(40deg 15.79% 29.8%);
}

.collection-log__page-items {
  display: grid;
  --collection-log__columns: 6;
  grid-template-columns: repeat(var(--collection-log__columns), 1fr);
  padding: 2px 8px;
  overflow-y: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .collection-log__page-items {
    --collection-log__columns: 5;
  }
}

@media only screen and (max-width: 600px) {
  .collection-log__page-items {
    --collection-log__columns: 4;
  }
}

@media only screen and (max-width: 500px) {
  .collection-log__page-items {
    --collection-log__columns: 3;
  }
}

@media only screen and (max-width: 400px) {
  .collection-log__page-items {
    --collection-log__columns: 2;
  }
}

.collection-log__count {
  color: white;
}
