app-navigation {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  padding: 8px 16px;
  pointer-events: auto;
}

.app-navigation__nav,
.app-navigation__left,
.app-navigation__right {
  display: flex;
  align-items: center;
}

.app-navigation__nav {
  justify-content: space-between;
  flex-grow: 1;
}

.app-navigation__nav men-link {
  margin: 0;
}

.app-navigation__nav men-link + men-link {
  margin-left: 1em;
}

.app-navigation__group-name {
  color: white;
  font-size: 1.5em;
  margin-right: 1em;
  font-weight: 300;
}

app-navigation social-links {
  margin-right: 1em;
}
