app-navigation {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  padding: 8px 16px;
  pointer-events: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 850px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}

app-navigation .men-button img {
  height: 24px;
}
.app-navigation__nav {
  display: flex;
  align-items: center;
  column-gap: 6px;
  justify-content: flex-start;
  flex-grow: 1;
}

.app-navigation__separator {
  flex-grow: 1;
}

.app-navigation__nav men-link {
  margin: 0;
}

.app-navigation__group-name {
  color: white;
  font-size: 1.5em;
  margin-right: 1em;
  font-weight: 300;
}
