inventory-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  color: var(--primary-text);
  min-height: 250px;

  visibility: hidden;
  content-visibility: auto;
  contain-intrinsic-size: 0 250px;
  contain: layout style paint;
}

inventory-item.rendered {
  min-height: unset;
  visibility: visible;
}

.inventory-item__top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 8px;

  background: rgba(255, 255, 255, 0.05);
}

.inventory-item__details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0 0.5em;
  word-break: keep-all;
  white-space: nowrap;
}

.inventory-item__picture {
  width: 63px;
  min-height: 56px;
  min-width: 63px;
  border: none;
  image-rendering: auto;
}

.inventory-item__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  white-space: nowrap;
  grid-gap: 0 8px;
  padding: 8px;
}

.inventory-item__quantity-bar {
  height: 8px;
  width: 100%;
  transform-origin: left;
}

.inventory-item__picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  height: 45px;
  min-width: 50px;
}

.inventory-item__name {
  font-size: 20px;
}

.inventory-item__badge {
  font-weight: bold;
  color: hsl(280, 80%, 85%);
}

inventory-item[potion-storage] .inventory-item__top {
  background: hsla(280, 40%, 20%, 0.4);
}
