map-page {
  display: block;
}

.map-page__container {
  display: flex;
  overflow-x: auto;
  padding: 0 4px;
}

.map-page__focus-player-buttons {
  display: flex;
}

.map-page__focus-player-buttons > button + button {
  margin-left: 6px;
}
