diary-dialog h2 {
  color: var(--orange);
}

diary-dialog .dialog__container {
  padding: 0;
  cursor: auto;
}

.dialog__visible {
  cursor: pointer;
}

.diary-dialog__scroll-container {
  max-height: 100%;
  overflow: auto;
}

.diary-dialog__section {
  text-align: center;
}

.diary-dialog__task-complete,
.diary-dialog__requirement-met {
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.6) !important;
}

.diary-dialog__task {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
  justify-content: center;
  align-items: flex-end;
}

.diary-dialog__task:hover {
  background: rgba(0, 0, 0, 0.15);
}

.diary-dialog__requirements span {
  color: var(--invalid);
}

.diary-dialog__requirements img {
  height: 16px;
}

.diary-dialog__requirement-met img {
  opacity: 0.5;
}

.diary-dialog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: rgba(255, 255, 255, 0.05);
}

.dialog__close:hover {
  filter: brightness(1.3);
}

.diary-dialog__tier-complete,
.diary-dialog__diary-complete .diary-dialog__header {
  background: rgba(0, 200, 0, 0.1);
}

.diary-dialog__tier-complete h2,
.diary-dialog__diary-complete .diary-dialog__header h2 {
  color: rgb(0, 200, 0);
}

.diary-dialog__section h2 {
  text-decoration: underline;
}
