.items-page__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px 10px;
  margin-top: 16px;
  align-items: flex-start;
}

@media only screen and (max-width: 2200px) {
  .items-page__list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1900px) {
  .items-page__list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1500px) {
  .items-page__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1300px) {
  .items-page__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1050px) {
  .items-page__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .items-page__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.items-page__head {
  display: flex;
  align-items: flex-start;
}

.items-page__utility {
  margin-top: 8px;
  display: flex;
}

.items-page__info-box {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  background: var(--elevated);
  border: 1px solid var(--light-border);
  border-radius: 2px;
  padding: 0.4em;
  margin-left: 8px;
}
