.items-page__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px 10px;
  margin-top: 16px;
  align-items: flex-start;
}

@media only screen and (max-width: 2200px) {
  .items-page__list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1900px) {
  .items-page__list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1500px) {
  .items-page__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1300px) {
  .items-page__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.items-page__head {
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
  row-gap: 6px;
}

@media only screen and (max-width: 850px) {
  .items-page__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .items-page__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .items-page__head search-element {
    margin-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .items-page__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.items-page__utility {
  margin-top: 8px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.items-page__info-box input {
  margin: 0 0.5em 0 0;
}
