skills-graphs {
  display: block;
}

.skills-graphs__chart-container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 12px;
  padding-bottom: 12px;
}

.skills-graphs__control-container {
  display: flex;
  overflow-x: auto;
}

.skills-graphs__loader {
  position: absolute;
}
