collection-log {
  display: block;
  color: var(--orange);
}

collection-log h2 {
  font-size: 20px;
  text-shadow: 1.3px 1.3px var(--black);
}

.collection-log__container {
  height: 95%;
  padding: 0;
  cursor: auto;
}

.collection-log__header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
  padding: 8px;
}

.collection-log__close {
  justify-self: end;
}

.collection-log__search {
  justify-self: start;
  min-width: unset;
}

.collection-log__title-border {
  background: url("/ui/173-0.png") repeat;
  width: 100%;
  height: 6px;
}

collection-log .collection-log__title {
}

.collection-log__main {
  padding: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.collection-log__tab-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4px;
}

.collection-log__tab-buttons button {
  font-family: "rssmall", ui-sans-serif, Arial, sans-serif;
  text-shadow: 1.3px 1.3px var(--black);
  color: var(--orange);
  font-size: 18px;
  background: #28251e;
  border: 1px solid hsl(40deg 15.79% 29.8%);
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px;
}

.collection-log__tab-buttons button.collection-log__tab-button-active {
  background: #3e3529;
}

.collection-log__tab-container {
  border: 1px solid hsl(40deg 15.79% 29.8%);
  height: 100%;
  overflow: hidden;
}

.collection-log__complete {
  color: var(--green);
}

.collection-log__in-progress {
  color: var(--yellow);
}

.collection-log__not-started {
  color: var(--red);
}
