men-input,
member-name-input {
  display: block;
}

men-input label,
member-name-input label {
  display: block;
}

men-input + men-input,
member-name-input + member-name-input {
  padding-top: 1em;
}
