create-group {
  display: flex;
  justify-content: center;
  padding: 64px 12px;
  box-sizing: border-box;
}

.create-group__steps {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 24px;
  box-sizing: border-box;
}

.create-group__step + .create-group__step {
  margin-top: 1em;
}

.create-group__name input {
  font-size: 1.5em;
}

.create-group__step-members,
.create-group__submit {
  display: none;
}

.create-group__submit {
  margin-top: 2em;
  margin-bottom: 1em;
}
