collection-log-tab {
  display: grid;
  grid-template-columns: 2fr 4fr;
  overflow: hidden;
  height: 100%;
}

.collection-log__tab-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 2px;
  min-width: 150px;
  border-right: 1px solid hsl(40deg 15.79% 29.8%);
  box-sizing: border-box;
}

.collection-log__tab-list button {
  font-size: 18px;
  color: var(--orange);
  font-family: "rssmall", ui-sans-serif, Arial, sans-serif;
  text-shadow: 1.3px 1.3px var(--black);
  text-align: left;
  padding: 2px 0;
}

.collection-log__tab-list button:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.collection-log__tab-list button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.collection-log__tab-list button > * {
  pointer-events: none;
}

.collection-log__tab-list button.collection-log__page-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.collection-log__tab-list button.collection-log__complete {
  color: var(--green);
}

.collection-log__page-container {
  overflow: hidden;
}
