collection-log-item {
  display: block;
}

collection-log-item a {
  display: block;
  position: relative;
}

collection-log-item item-box {
  opacity: 0.3;
}

collection-log-item item-box.collection-log__item-unlocked {
  opacity: 1;
}

collection-log-item .item-box__quantity {
  font-size: 20px;
  transform: translate(0, 0);
}

collection-log-item item-box:hover {
  background: rgba(255, 255, 255, 0.1);
}

.collection-log-item__other-players {
  pointer-events: none;
  position: absolute;
  bottom: 0;
}
